/* IBM Plex Sans (SIL OFL 1.1) — see IBM-PLEX-SANS-LICENSE.txt in this folder.
   Source: @fontsource/ibm-plex-sans@5.3.0, latin subset. */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./ibm-plex-sans-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./ibm-plex-sans-latin-500-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./ibm-plex-sans-latin-600-normal.woff2') format('woff2');
}
